[project]
	description = Yet Another Conference Management System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Geronimo Orozco (patux)
[access "refs/for/refs/*"]
	read = group user/Geronimo Orozco (patux)
	push = group user/Geronimo Orozco (patux)
	label-Code-Review = -2..+2 group user/Geronimo Orozco (patux)
	label-Verified = -1..+1 group user/Geronimo Orozco (patux)
	rebase = group user/Geronimo Orozco (patux)
	removeReviewer = group user/Geronimo Orozco (patux)
	submit = group user/Geronimo Orozco (patux)
[access "refs/heads/*"]
	read = group user/Geronimo Orozco (patux)
	create = group user/Geronimo Orozco (patux)
	push = +force group user/Geronimo Orozco (patux)
	pushMerge = group user/Geronimo Orozco (patux)
[access "refs/tags/*"]
	push = +force group user/Geronimo Orozco (patux)
	pushTag = group user/Geronimo Orozco (patux)
	pushSignedTag = group user/Geronimo Orozco (patux)
